In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [5]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [11]:
df.drop(index=[0,1])

   A  B   C   D
2  8  9  10  11